---
import { type CollectionEntry, render } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";
import type { HTMLTag, Polymorphic } from "astro/types";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
	note: CollectionEntry<"note">;
	isPreview?: boolean | undefined;
};

const { as: Tag = "div", note, isPreview = false } = Astro.props;

const rendered = isPreview ? null : await render(note);
const Content = rendered?.Content;
---

{
	isPreview ? (
		<>
			<FormattedDate
				class="min-w-[120px] font-semibold text-gray-600 dark:text-gray-400"
				date={note.data.publishDate}
			/>
			<Tag>
				<a class="cactus-link" data-astro-prefetch href={`/pages/${note.id}/`}>
					{note.data.title}
				</a>
			</Tag>
		</>
	) : (
		<article data-pagefind-body>
			<Tag class="title">
				<>{note.data.title}</>
			</Tag>
			<FormattedDate
				dateTimeOptions={{
					hour: "2-digit",
					minute: "2-digit",
					year: "2-digit",
					month: "2-digit",
					day: "2-digit",
				}}
				date={note.data.publishDate}
			/>
			<div class="prose prose-sm prose-cactus mt-4 max-w-none [&>p:last-of-type]:mb-0">
				{Content && <Content />}
			</div>
		</article>
	)
}
